.ip{
    background-color:transparent;
    border-radius: 50px;
}

.block{
    width: 100%;
}

.back{
    background: linear-gradient(90deg,#000,#002169);color: black;
    padding: 3rem 2rem;
}

.title{
    background: linear-gradient(90deg,#000,#002169);color: black;
    font-size: 30px;
    padding: 2rem 2rem;
    color: #fff;
    text-align: center;
}

label{
    color: #333;
}

.eye{
    cursor: pointer;
}

.err{
    color: red;
    margin-left: 20px;
}