.card-style{
    background: transparent !important;
}

.button-style{
    position: relative;
    bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.title{
    justify-content: center;
    display: flex;
}

.img-fluid {
    height: 300px;
}

img{
    cursor: pointer;
}