<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

      <ng-container *ngFor="let movie of movies; let i = index">

        <button type="button" 
        data-bs-target="#carouselExampleCaptions" 
        [attr.data-bs-slide-to]="i" 
        [ngClass]="i===0? 'active': ''" 
        aria-current="true" 
        aria-label="Slide i"></button>

      </ng-container>
    </div>

    <div class="carousel-inner">

      <ng-container *ngFor="let movie of movies; let i = index">

      <div class="carousel-item movie"
      [ngClass]="i===0? 'active': ''"
      (click)="redirecTo(movie)">

          <img [src]="movie.horizontal_poster" 
          class="poster" 
          [alt]="movie.name">

          <div class="buy">
            BUY YOUR TICKES
          </div>

        </div>
      </ng-container>

      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>

    <div class="mt-4 ms-4">
      <h2>Now Playing</h2>
    </div>

    <div class="me-4 ms-4 mt-4 mb-4">

      
      <div class="row">
        <ng-container *ngFor="let movie of movies">
          <div class="col-6 col-md-4 col-lg-3">
            
            <div class="card mt-3">

              <img [src]="movie.vertical_poster" 
              class="card-img-top img-card" 
              [alt]="movie.name">

              <button class="btn btn-outline-primary">
                Get ticket
              </button>
              
            </div>

          </div>
        </ng-container>
      </div>
      
    </div>
  </div>

  <div class="popcorn mb-5">

    <h2 class="text">Popcorn, Soda and Fun...</h2>

  </div>
