<div class="row mt-5">
    <div class="col">

        <table class="table table-dark table-striped table-responsive">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Movie</th>
                <th scope="col">Price</th>
                <th scope="col">Day</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Room</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let show of shows; let i = index">
                <th ></th>
                <th scope="row">{{movies[i]}}</th>
                <td>{{show.price}} $</td>
                <td>{{show.day}}</td>
                <td>{{show.start_time}}</td>
                <td>{{show.end_time}}</td>
                <td>{{rooms[i] | uppercase}}</td>
                <td>
                    <a [routerLink]="['../movie-show', show.id]">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>

    </div>
</div>
