.back{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 15px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(0deg,#000,#002169);
}

.main{
    width: 100%;
    margin: 0 auto;
}

.form{
    width: 700px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem 3rem;
}