

<form>

    <div class="mb-2 form-floating">
        <input type="text" 
        placeholder="Email"
        class="form-control">

        <label for="floatingInput"
        class="pi pi-envelope"> Email</label>
    </div>

    <div class="mb-3 form-floating input">
        <input [type]="password.typePassword"
        id="floatingInput"
        placeholder="Password"
        class="form-control">
        
        <label for="floatingInput"
        class="pi pi-lock"> Password</label>

        <p (click)="eye()"
        [class]="password.icon" 
        class="eye"></p>
    </div>

    <div class="mb-4">
        <a href="">Forgot your password?</a>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-2 d-grid gap-2">
            <button class="btn btn-outline-primary">
                Login
            </button>
        </div>
    
        <div class="col-12 col-md-6 mb-2 d-grid gap-2">
            <button routerLink="../register"
            class="btn btn-primary">
                Register
            </button>
        </div>
    </div>

</form>
