
<div *ngIf="movieData"
class="row mt-5">
    <div class="col-12 animated fadeIn fast">

        <div class="row">
            <div class="col-6">
                <img class="card-img-top img-fluid"
                [src]="movieData.vertical_poster" 
                [alt]="movieData.name">
            </div>

            <div class="col-6">
                <img class="card-img-top img-fluid"
                [src]="movieData.horizontal_poster" 
                [alt]="movieData.name">
            </div>
        </div>

        <div class="row mb-4">

            <div class="col-12 mt-2">

                <h2>{{movieData.name |titlecase}}</h2>
        
                <app-movie-form [movieData]="movieData">
                    
                </app-movie-form>
            </div>
            
        </div>
    </div>
</div>
