.space-bs{
    right: 20px;
    top: 6px;
}

.space-b{
    margin-right: 10px;
    margin-top: .5rem;
    color: #FFF;
}

.logo{
    margin: 1rem 1rem;
    margin-left: 0;
}

.nav-ul{
    margin-top: unset;
}

hr{
    display: none;
}

.social{
    display: none;
    justify-content: unset;
    width: unset;
    margin: unset;
}

.nb-c{
    padding: 0;
    border-bottom: solid .5px gray;
    background: unset;
}

.navbar>.container-fluid{
    display: unset;
}

.navbar-expand-lg .navbar-collapse {
    background: #121212;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding-top: .5rem;
}

.cont{
    padding: 0;
    background: linear-gradient(90deg,#020024,#090979, #00d4ff);
}

.navbar-expand-lg[_ngcontent-myu-c31] .navbar-nav[_ngcontent-myu-c31] {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: gray;
}

.active-rl{
    border-bottom: solid 3px crimson;
    color: crimson !important;
}

.nav-t{
    margin: auto;
    max-width: 960px;
    justify-content: space-between;
    display: flex;
    padding: 1rem 1rem;
}

.total{
    font-size: 1.1rem;
    display: flex;
}

.total span{
    position: absolute;
    right: 25px;
}

.min{
    display: none;
}

.max{
    display: unset;
}

.secondary{
    background: #002169;
}

.data img{
    width: 150px;
}

.data{
    display: flex;
}

.data p{
    margin-bottom: 0 !important;
}

.ske{
    margin-bottom: 10px;
    margin-left: 10px;
}

.skele{
    display: inline-block;
}

@media screen and (max-width:991px) {
    
    .navbar .container-fluid{
        justify-content: unset !important;
    }

    hr{
        display: revert !important;
    }

    .navbar>.container-fluid{
        display: flex;
    }

    .navbar-expand-lg .navbar-collapse {
        background: unset;
        padding-top: unset;
    }

    .nav-ul {
        flex-direction: column !important;
    }

    .social{
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .nav-ul{
        margin-top: 3rem;
    }

    .active-rl{
        border-bottom: unset;
        color: crimson !important;
    }

    .nav-t{
        margin: unset;
        max-width: unset;
        justify-content: unset;
        display: unset;
        padding: unset;
    }

    .space-bs{
        position: absolute;
        right: 5px;
        top: 4px;
    }
    
    .space-b{
        margin-right: 10px;
        color: #FFF;
    }

    .logo{
        margin: unset;
    }

    .nb-c{
        padding: 1rem 1rem;
        border-bottom: unset;
        background: linear-gradient(90deg,#020024,#090979, #00d4ff);
    }

    .min{
        display: unset;
    }

    .max{
        display: none;
    }

    .cont{
        padding: unset;
        background-image: unset;
    }
}
