<nav class="nb-c
navbar 
navbar-expand-lg 
navbar-dark bg-dark">
    <div class="container-fluid cont">
        <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-t">
      <div class="logo">
        <a routerLink="home"
        class="navbar-brand ms-3" >Navbar</a>
      </div>
      
      <!-- cart and user -->
      <div class="space-bs">
            <button *ngIf="isActiveUser"
              (click)="car()"
              pButton
              type="button"
              icon="pi pi-shopping-cart"
              class="space-b 
              p-button-raised
              p-button-rounded
              p-button-outlined"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop"> 
            </button>
  
              <button *ngIf="!isActiveUser"
              routerLink="auth"
              pButton
              label="Login"
              type="button"
              icon="pi pi-user"
              ui-icon-color="whitte"
              class="space-b 
              p-button-raised 
              p-button-rounded
              p-button-outlined"></button>

              <button *ngIf="isActiveUser"
              (click)="logout()"
              pButton
              label="Logout"
              type="button"
              icon="pi pi-user"
              ui-icon-color="whitte"
              class="space-b 
              p-button-raised 
              p-button-rounded
              p-button-outlined"></button>
  
        </div>

    </div>

      <!-- Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-ul navbar-nav me-auto mb-2 mb-lg-0">

          <li *ngFor="let item of items"
          class="nav-item min">

          <hr>
            <a 
            [routerLink]="item.redirecTo"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active-rl"
            class="nav-link" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            aria-current="page">{{item.label}}
            </a>
          </li>

          <li *ngFor="let item of items"
          class="nav-item max">

          <hr>
            <a 
            [routerLink]="item.redirecTo"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active-rl"
            class="nav-link">{{item.label}}
            </a>
          </li>

        </ul>

        <!-- Social -->
        <hr>
        <div class="social">
            <button 
            pButton
            type="button"
            icon="pi pi-facebook"
            class="p-button-raised p-button-rounded"></button>

            <button 
            pButton
            type="button"
            icon="pi pi-youtube"
            class="p-button-raised p-button-rounded"></button>

            <button 
            pButton
            type="button"
            icon="pi pi-twitter"
            class="p-button-raised p-button-rounded"></button>

            <button 
            pButton
            type="button"
            icon="pi pi-discord"
            class="p-button-raised p-button-rounded"></button>
        </div>

      </div>

    </div>
  </nav>

  <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content secondary">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Confirm Purchase</h5>

            <button (click)="clear()"
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"></button>

          </div>
          <div class="modal-body">

            <div>

              <div class="total">
                <p>Total ({{carData.length}} Tickets): </p>
                <span>{{getPrice(data)}}$</span>
              </div>
              <hr style="display: block !important;">
  
              <div>
                <h3>Summary</h3>

                <div *ngIf=" data.length <= 0"
                class="data">
                  <p-skeleton
                  class="me-3"
                  height="200px"
                  width="150px"></p-skeleton>

                  <div
                  class="skele">

                    <div class="ske">
                      <p-skeleton width="180px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="100px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="120px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="150px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="120px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="110px"></p-skeleton>
                    </div>
                    <div class="ske">
                      <p-skeleton width="140px"></p-skeleton>
                    </div>
                  </div>
                </div>
  
                <ng-container *ngIf="data.length > 0 && carData.length > 0">

                  <div *ngFor="let dat of data; let i = index"
                  class="data mb-4">
    
                  <div>
    
                    <img *ngIf="dat"
                    class="me-3" 
                    [src]="dat.vertical_poster" alt="">
  
                    
  
                  </div>
    
                    <div *ngIf="dat"> 
    
                      <p>{{dat.title | titlecase}}</p>
                      <p>Day: {{dat.day}}</p>
                      <p>Hour: {{dat.hour |hour }}</p>
                      <p>Room: {{dat.room |uppercase }}</p>
                      <p>Seat: {{dat.seat.toString() |uppercase}}</p>
                      <p>Price: {{dat.price}}$</p>
                      <!-- <p>Total(3 tickets): </p> -->
                      
                      <button (click)="delete(dat.id, i)"
                        class="btn btn-outline-danger mt-2">
                        Delete
                      </button>
                    </div>
    
                  </div>
                </ng-container>

              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button (click)="clear()"
            type="button" 
            class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Pay</button>
          </div>
        </div>
      </div>
    </div>

