html, body{ 
    margin: 0;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);;
}

.text-layout{
    color: var(--text-color);
}

@media screen and (min-width: 1400px){

    .container{
        max-width: 960px;
    }
    
}