
input{
    width: 100%;
    border-radius: 50px;
}

.pi{
    padding-left: 15px;
}

.card-style{
    background: rgba(55, 53, 53, 0.1);
    border: none;
}

img{
    height: 300px;
}

.button-style{
    position: relative;
    bottom: -20px;
    width: 100%;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-body {
    padding-bottom: 0;
}